/*
|----------------------------------------------------------------------------
	AboutMe - Personal Portfolio Resume Template Main CSS
	Author: MGScoder
	Author URL: https://themeforest.net/user/mgscoder
	Version: 2.2
	Primary color: #04b962
|----------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------
	[Table of contents]:

	1. FONTS
	2. BODY
	3. COMMON CSS
	4. HEADER / .header-nav
		4.1. HOME TOP BANNER / .home-top-banner
		4.2. CAROUSEL TOP BANNER SLIDER / #home .owl-carousel
	5. TITLE / .title-wrap
	6. SINGLE PAGE BANNER / #single-page-banner
	7. ABOUT / #about
		7.1. BOX STYLE / .about-box-style
		7.2. TIMELINE STYLE / .timeline
		7.3. SKILLS PROGRESSBAR / .progressbar
	8. SERVICE / .service-wrap
	9. SOCIAL / .social-icon
	10. PRICING / .pricing-table
	11. PORTFOLIO
		11.1 LIGHTBOX
	12. CLIENTS
	13. TEAM / .team-wrap
	14. QUOTES
	15. BLOG / #blog
		15.1. BLOG STYLE 1 / .blog-style1
	16. TESTIMONIAL
		16.1. CAROUSEL CONTROL FOR TESTIMONIAL
		16.2. TESTIMONIAL RATINGS
	17. CONTACT
		17.1. CONTACT FORM / #contactForm
		17.2. SELECT BOX / select.form-control
	18. SUCCESS STORY
	19. SINGLE SERVICE / #service-single-content
		19.1. SERVICE LIST / .service-list
		19.2. SERVICE MENU / .service-menu
		19.3. SERVICE BROCHURE / .service-brochure
		19.4. SERVICE FEATURE / .service-features
		19.5. SERVICE QUOTEFORM / #serviceQuoteForm
	20. SINGLE PORTFOLIO / #pfolio-single-content
	21. SINGLE BLOG / #single-post-content
		21.1. RELATED POST / #related-blog
		21.2. POST COMMENTS LIST / .commentlist
		21.3. COMMENTS FORM / #commentform
	22. SIDEBAR
	23. Button / .btn-shutter-out-horizontal
	24. SUBSCRIBE / #mc-form
	25. FOOTER / .footer
	26. OTHER
	
|-------------------------------------------------------------------
*/

/*
|----------------------------------------------------------------------------
	1. FONTS: Google Font
|----------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Open+Sans:400,400i,600,600i,700,700i');

/*
|----------------------------------------------------------------------------
	2. BODY
|----------------------------------------------------------------------------
*/
body {
    color: #222;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.48;
    height: 100%;
}

/*
|----------------------------------------------------------------------------
	3. COMMON CSS
|----------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
	font-family: 'Roboto', sans-serif;
}
img, iframe, object, embed {
    max-width: 100%;
}
a {
	color: #000;
}
a:hover {
    color: #ff7700;
    text-decoration: none;
}
a:focus {
    outline: medium none;
    text-decoration: none;
}
.intro-text {
    margin: 0 auto 60px;
	max-width: 660px;
}
.SecTopMargin {
    margin-top: 60px;
}
.SectionMargin {
    margin: 60px 0;
}
.color-border {
    border-color: #ff7700;
}

/*
|----------------------------------------------------------------------------
	4. HEADER / .header-nav
|----------------------------------------------------------------------------
*/
.header-nav {
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
	height: 80px;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
    width: 100%;
    z-index: 999;
}
.header-nav.bg-color {
	background-color: #fff;
}
.header-nav.menu-bg {
	height: 56px;
}

/* menu */
.navbar-brand {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    line-height: 80px;
    padding: 0;
    text-transform: capitalize;
}
.header-nav.menu-bg  .navbar-brand {
	line-height: 56px;
}
.navbar-brand:hover {
    color: #fff;
}
.navbar-brand > img {
    height: 80px;	
    -webkit-transition: height 0.4s ease-in-out;
	-moz-transition: height 0.4s ease-in-out;
	-o-transition: height 0.4s ease-in-out;
	transition: height 0.4s ease-in-out;
}
.menu-bg .navbar-brand > img {
    height: 56px;
}
.bg-color .main-menu .navbar-nav li a {
    color: #000;
}	
.main-menu .navbar-nav li a {
    color: #fff;
    font-size: 16px;
	padding: 30px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.menu-bg .main-menu .navbar-nav li a {
	padding: 18px 15px;
    color: #222;
}
.menu-bg .main-menu .navbar-nav li a:hover {
    color: #fafafa;
}
.main-menu .navbar-nav li a:focus {
    background-color: transparent;
}
.main-menu .navbar-nav li a:hover, .main-menu .navbar-nav li a.active {
	color: #fff;
    background-color: #ff7700;
}
.menu-bg {
    background-color: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
}
a img.logo-color  {
    opacity: 0;
	height: 0;
}
.menu-bg a img.logo-white  {
    opacity: 0;
	height: 0;
}
.menu-bg a img.logo-color  {
    opacity: 1;
}

.main-menu .navbar-nav li a.menubgactive {
    background-color: #f0f0f0;
}
.main-menu .navbar-nav li a.menubgactive:hover {
    background-color: #ff7700;
}

/* navbar-toggle responsive menu */
.navbar-toggle {
	border: none;
	background: transparent;
}
.navbar-toggle.collapsed .icon-bar {
    background-color: #ff7700;
}
.navbar-toggle .icon-bar {
    background-color: #e91313;
}
.navbar-toggle:hover {
	background: transparent;
}
.navbar-toggle .icon-bar {
	width: 32px;
	height: 4px;
    -webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition:all 0.2s ease 0s;
}
.navbar-toggle .top-bar {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}

/*
|----------------------------------------------------------------------------
	4.1. HOME TOP BANNER / .home-top-banner
|----------------------------------------------------------------------------
*/
.home-top-banner {
	background-attachment: fixed;
    background-color: #555;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.home-top-banner::after {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.background-transparent {
	background-color: transparent;
}
#particles-js {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.home-top-banner.banner-1 {
	background-image: url("../images/profile/banner-image-1.jpg");
	background-position: center;
	background-size: cover;
}
.home-top-banner.banner-2 {
	background-image: url("../images/profile/banner-image-2.jpg");
	background-position: center;
	background-size: cover;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.banner-content {
    margin-top: 80px;
	max-width: 50%;
}
.banner-content h1 {
    color: #fff;
    font-size: 60px;
	line-height: 1;
	margin: 0 0 25px;
    text-transform: capitalize;
}
.banner-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.banner-content li a {
    color: #fff;
    border: none;
}

.banner-content.banner-content-fullwidth {
    max-width: 100%;
    text-align: center;
}

/* Type */
.banner-content h1.type-animate a.typewrite{
	color: #fff;
	font-size: 48px;
}

/*
|----------------------------------------------------------------------------
	4.2. CAROUSEL TOP BANNER SLIDER / #home .owl-carousel
|----------------------------------------------------------------------------
*/
#home.home-slider {
	height: 100vh;
    width: 100%;
}
#home.home-slider.image-bg {
    background-image: url("../images/profile/banner-image-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#home .owl-carousel {
	position: relative;
	height: 100%;
}
#home .owl-carousel .owl-slide::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#home .owl-carousel div:not(.owl-nav) {
	height: 100%;
}
#home .owl-carousel .owl-nav {
	height: 0;
	position: absolute;
	top: 46%;
	left: 0;
	right: 0;
}
#home .owl-carousel .owl-buttons div {
	position: absolute;
	top: 0;
	bottom: 0;
	display: inline-block;
	margin: 0;
	width: 50px;
	height: 30px;
	line-height: 25px;
	text-align: center;
	font-size: .9em;
	border-radius: 3px;
	color: #FFF;
	background: #000;
	opacity: .6;
	text-transform: capitalize;
}
#home .owl-nav > button {
    background: transparent none repeat scroll 0 0;
    font-size: 50px;
	color: #fff;
}
#home .owl-carousel .owl-slide {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    height: 100%;
}

#home .owl-carousel .owl-slide.slide::before {
    background-color: rgba(0, 0, 0, 0.7);
}
#home .owl-carousel .owl-slide.slide-1 {
    background-image: url("../images/profile/banner-image-1.jpg");
}
#home .owl-carousel .owl-slide.slide-2 {
    background-image: url("../images/profile/banner-image-2.jpg");
}
#home .owl-carousel .owl-slide.slide-3 {
    background-image: url("../images/profile/banner-image-1.jpg");
}
#home .owl-carousel .slider-content {
	bottom: 0;
    display: table;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}
#home .owl-carousel .slider-caption {
    display: table-cell;
    vertical-align: middle;
}
#home .owl-carousel .slider-content .slider-caption .caption-container {
	height: auto;
    margin: 80px auto 0;
    max-width: 760px;
    width: 80%;
}
#home .owl-carousel .slider-content h2.banner-title-text {
    color: #fff;
    font-size: 42px;
	line-height: 1.3;
    font-weight: 700;
	margin: 20px 0;
    text-transform: uppercase;
}
#home .owl-carousel .slider-content h2.banner-title-text span {
    color: #ff7700;
}
#home .owl-carousel .slider-content .sub-title {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 30px;
}
#home .owl-carousel .slider-content .sub-title.white-text {
    color: #fff;
}
#home .owl-carousel div.slider-caption {
    height: auto;
    margin-top: 10%;
}
#home .btn-shutter-out-horizontal:before {
    background-color: #ff7700;
}
#home .btn-shutter-out-horizontal:hover {
    color: #fff;
    border-color: #ff7700;
}
#home  .owl-next {
    float: right;
	padding: 4px 11px;
}
#home  .owl-prev {
    float: left;
	padding: 4px 8px;
}
#home  .owl-nav {
	max-width: 1170px;
	margin: 0 auto;
    opacity: 0;
}
#home :hover .owl-nav  {
    opacity: 1;
}
.banner-content > h4, .slider-content h4 {
	color: #fff;
    margin: 20px 0 30px;
}

/*
|----------------------------------------------------------------------------
	5. TITLE / .title-wrap
|----------------------------------------------------------------------------
*/
.title-wrap {
    margin: 0 auto 60px;
    max-width: 401px;
}
.section-title-box::before {
    background-color: #ff7700;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 35%;
    margin: 0 0 -2px;
    position: absolute;
    width: 30%;
}
.section-title-box {
    border-bottom: 1px solid #ff7700;
    margin: 0 0 60px;
    position: relative;
}
.title-wrap .section-title {
	font-size: 38px;
	font-weight: 400;
    line-height: 1;
    margin: 50px 0 20px;
    position: relative;
    text-align: center;
	text-transform: uppercase;
    width: 100%;
}
.title-wrap .section-title strong {
    color: #ff7700;
	font-weight: bold;
}
.sub-title {
    font-size: 28px;
    margin-top: 0;
}
/*title-box*/
.title-box::before {
    background-color: #ff7700;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    margin: 0 0 -2px;
    position: absolute;
    width: 60px;
}
.title-box {
    border-bottom: 1px dotted #ff7700;
    margin: 0 0 40px;
    position: relative;
}
.title-box > h3 {
	color: #000;
	font-weight: 400;
	margin: 0 0 5px;
}

/*
|----------------------------------------------------------------------------
	6. SINGLE PAGE BANNER / #single-page-banner
|----------------------------------------------------------------------------
*/
#single-page-banner {
    margin-top: 80px;
    /*padding: 10vh 0;*/
    padding: 30px 0;
    position: relative;
    width: 100%;
}
#single-page-banner.page-title::before {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#single-page-banner.page-title-image {
	background-color: #f0f0f0;
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}
#single-page-banner.page-title-image.blog-hbg {
    background-image: url("../images/background/blog-details-banner.jpg");
	background-color: #f0f0f0;
}
#single-page-banner.page-title-image.portfolio-hbg {
    background-image: url("../images/background/portfolio-details-banner.jpg");
	background-color: #f0f0f0;
}
#single-page-banner.page-title-image.service-hbg {
    background-image: url("../images/background/service-details-banner.jpg");
	background-color: #f0f0f0;
}
#single-page-banner.page-title h2 {
    color: #fff;
    font-size: 38px;
	margin: 0;
}
/*breadcrumb*/
.breadcrumb {
    background-color: transparent;
	text-align: right;
	margin-bottom: 0;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb > .active {
    color: #fff;
}

/*
|----------------------------------------------------------------------------
	7. ABOUT / #about
|----------------------------------------------------------------------------
*/
#about {
	padding: 70px 0;
}
#about .about-text .title-box {
    margin: 0 0 40px;
}
#about .title-box {
    margin: 10px 0 40px;
}
.about-text p {
    color: #505050;
    margin: 0 0 30px;
    padding: 0;
}
.experience-content p {
    color: #444;
}
.experience-content p.text-bold {
	color: #222;
	font-weight: 500;
    font-style: italic;
    margin: 0 0 20px;
}
#about .button-holder .btn.btn-shutter-out-horizontal:last-child {
    background-color: transparent;
    border: 1px solid #3e3e3e;
    color: #000;
}
#about .button-holder .btn.btn-shutter-out-horizontal:last-child::before {
    background-color: #ff7700;
}
#about .button-holder .btn.btn-shutter-out-horizontal:last-child:hover {
    color: #fff;
    border-color: #ff7700;
}
#about .button-holder {
    margin: 50px 0;
}
#about .button-holder a {
    margin: 0 20px 10px 0;
}
#about .button-holder a:last-child {
    margin-right: 0;
}	
#about .icon-holder .tab-content-title {
    font-weight: bold;
    left: 50%;
    margin-left: 45px;
    position: absolute;
    top: 10px;
	font-size: 24px;
}
#about .icon-holder {
    height: 64px;
    position: relative;
    text-align: center;
}
#about .icon-holder i {
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 0;
    border: 1px solid #ff7700;
    border-radius: 50%;
    color: #ff7700;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}
#about .profile-image {
    border: 2px solid rgba(255,119,0,1);
    border-radius: 10px;
	margin: 0 0 50px;
    max-width: 480px;
    overflow: hidden;
}
#about .profile-image > img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition:all 0.8s ease 0s;
    -moz-transition:all 0.8s ease 0s;
    -ms-transition:all 0.8s ease 0s;
    -o-transition:all 0.8s ease 0s;
    transition:all 0.8s ease 0s;
}
#about .profile-image > img:hover {
    -moz-transform: scale(1.1);	
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);	
}

/*
|----------------------------------------------------------------------------
	7.1. BOX STYLE / .about-box-style	MAY BE NOT NEED
|----------------------------------------------------------------------------
*/
.about-box-style .experience-content {
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #f0f0f0;
    border-width: 1px;
    border-radius: 5px 5px 20px;
    margin: 0 0 50px;
    overflow: hidden;
    padding: 30px 15px 20px;
    position: relative;
    width: 100%;
    text-align: center;
}
.about-box-style .experience-content:hover {
	background-color: #fff;
	border-color: #e5e5e5;
}
.about-box-style .experience-content .range {
	border-bottom: 3px dotted #222;
	color: #222;
	font-style: italic;
	margin: 0 auto 15px;
	text-align: center;
	width: 180px;
	padding-bottom: 5px;
}
.about-box-style .experience-content h4 {
	color: #222;
	font-size: 24px;
	font-weight: 500;
}
.about-box-style .experience-content h5 {
    color: #ff7700;
	font-size: 16px;
	margin-bottom: 20px;
}

/*
|----------------------------------------------------------------------------
	7.2. TIMELINE STYLE / .timeline
|----------------------------------------------------------------------------
*/
.about-timeline-style .nav.nav-tabs, .about-box-style .nav.nav-tabs {
    max-width: 606px;
    margin: 50px auto;
	border: none;
	text-align: center;
}
.about-timeline-style .nav.nav-tabs > li, .about-box-style .nav.nav-tabs > li {
    margin: 0 0 10px;
}
.about-timeline-style .nav.nav-tabs > li button, .about-box-style .nav.nav-tabs > li button {
    background-color: #f0f0f0;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
	margin-right: 2px;
    width: calc(100% - 2px);
}
.about-timeline-style .nav.nav-tabs > li button i, .about-box-style .nav.nav-tabs > li button i {
	color: #ff7700;
    font-size: 20px;
    border: 1px solid;
    padding: 7px 5px 5px;
    border-radius: 50%;
    margin-right: 5px;
    width: 36px;
    height: 36px;
}
.about-timeline-style .nav.nav-tabs > li button span.tab-title, .about-box-style .nav.nav-tabs > li button span.tab-title {
    font-size: 18px;
    font-weight: bold;
}
.about-timeline-style .nav.nav-tabs > li.active button, .about-box-style .nav.nav-tabs > li.active button {
    background-color: #ff7700;
    color: #fff;
}
.about-timeline-style .nav.nav-tabs > li.active button i, .about-box-style .nav.nav-tabs > li.active button i {
    color: #fff;
}

.timeline {
    list-style: none;
	margin: 0 0 50px;
    padding: 50px 0 0;
    position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 4px;
	background-color: #ff7700;
	left: 50%;
	margin-left: -2px;
}
.timeline h4 {
	font-size: 20px;
	font-weight: 500;
	margin-top: 0;
}
.timeline h5 {
	color: #ff7700;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 20px;
}
.about-timeline-style .experience-content > p:last-child {
    margin: 0;
}
.timeline > li {
	margin: 0 0 50px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	background-color: #f0f0f0;
	width: 46%;
	float: left;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	padding: 30px;
	position: relative;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.timeline > li > .timeline-panel:hover {
	background-color: #fff;	
	border-color: #e5e5e5;
	box-shadow: 0 0 5px 1px rgba(62, 62, 62, 0.5);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 25px;
	right: -16px;
	display: inline-block;
	border-color: transparent #f0f0f0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
	content: "";
}
.timeline > li > .timeline-panel:after {
	border-color: transparent #f0f0f0;
    border-style: solid;
    border-width: 14px 0 14px 14px;
    content: "";
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 27px;
}
.timeline-left .experience-content {
    text-align: right;
}
.timeline > li > .timeline-badge {
	font-size: 16px;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -26px;
	background-color: #ff7700;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.timeline > li.timeline-right > .timeline-panel {
	float: right;
}
.timeline > li.timeline-right > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 16px;
	left: -17px;
	right: auto;
}
.timeline > li.timeline-right > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline li p.date {
	color: #000;
	font-size: 18px;
    left: 50%;
    margin: 0 50px;
    position: absolute;
    text-align: left;
    top: 12px;
	width: 180px;
	border-bottom: 1px dotted;
	line-height: 1.48;
}
.timeline li p.date-inverted {
	color: #000;
	font-size: 18px;
    margin: 0 50px;
    position: absolute;
    right: 50%;
    text-align: right;
    top: 12px;
	width: 180px;
	border-bottom: 1px dotted;
	line-height: 1.48;
}

/*
|----------------------------------------------------------------------------
	7.3. SKILLS PROGRESSBAR / .progressbar
|----------------------------------------------------------------------------
*/
.progressbar-wrap > p {
    margin: 0 0 50px;
}
.progressbar-wrap .progressbar {
    margin: 0 0 50px;
}
.progressbar .circle {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.progressbar .circle > canvas {
    vertical-align: middle;
}
.progressbar .circle > div {
    font-size: 20px;
	color: #000;
	font-weight: 500;
    left: 0;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 100%;
}
.progressbar .circle > p {
    font-size: 20px;
    margin: 10px 0 0;
	font-weight: 700;
}

/*
|----------------------------------------------------------------------------
	8. SERVICE / .service-wrap
|----------------------------------------------------------------------------
*/
#service {
	background-color: #f7f7f7;
	padding: 70px 0;
}
.service-wrap {
    border-width: 1px 5px;
    border-radius: 20px 0;
    margin: 0 0 50px;
	position: relative;
    text-align: center;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.service-box {
    display: table;
    height: 100%;
    width: 100%;
}
.service-box-wrap {
    display: table-cell;
    vertical-align: middle;
}
.service-icon-box {
	background-color: #fff;
    width: 80px;
    height: 64px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    border-bottom: none;
    margin-bottom: -8px;
}
.service-short-content-box {
    border: 1px solid #fff;
    border-radius: 5px 5px 20px;
    margin-top: 0;
    background-color: #fff;
    padding: 30px;
}
.service-style2 .service-icon-box {
	background-color: #ff7700;
    border: 1px solid #ff7700;
}
.service-style2 .service-wrap i {
    color: #fff;
}	

.service-box-wrap h3 {
	color: #000;
	font-size: 24px;
    font-weight: 500;
	margin: 0 0 30px;
}
.service-wrap i {
    color: #ff7700;
	font-size: 32px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	width: 64px;
}
.service-wrap:hover .service-icon-box {
	background-color: #ff7700;
	border-color: #ff7700;
}
.service-wrap:hover i {
    color: #fff;
}
.service-style2 .service-wrap:hover .service-short-content-box {
    border: 1px solid #fff;
    background-color: #fff;
}
.service-style2 .service-wrap:hover .service-icon-box {
	background-color: #fff;
	border-color: #fff;
}
.service-style2 .service-wrap:hover .service-icon-box i {
	color: #ff7700;
}
.service-wrap p {
    color: #505050;
    margin: 0 0 30px;
    text-align: center;
}
.service-box .btn {
    margin: 0;
}

.light-bg .service-short-content-box, .light-bg .service-wrap:hover .service-icon-box, .light-bg .service-icon-box {
	box-shadow: 0 0 10px 1px rgba(62, 62, 62, 0.8);
}

/*
|----------------------------------------------------------------------------
	9. SOCIAL / .social-icon
|----------------------------------------------------------------------------
*/
.list-inline.list-social {
    margin: 0 0 30px;
    padding: 0;
}
.list-social.list-inline > li {
    padding: 0;
}
.social-icon {
    border: 1px solid #ff7700;
    border-radius: 8px 2px;
    color: #ff7700;
    display: block;
    height: 32px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    text-shadow: none;
    width: 32px;
}
.social-icon-rounded {
    border-radius: 50%;
}
.social-icon-dark, .social-icon-light {
    border-color: transparent;
}
.social-icon-dark {
    background-color: #444;
    color: #fff;
}
.social-icon-light, .footer .social-icon-light {
    background-color: #f0f0f0;
    color: #666;
}
.social-icon-colored, .share-icon .social-icon-colored {
    border-color: transparent;
}
.social-icon.social-icon-small {
    height: 28px;
    width: 28px;
}
.social-icon.social-icon-large {
    height: 44px;
    margin: 0 10px 10px 0;
    width: 44px;
}
.social-icon i {
    display: block;
	font-size: 18px;
    line-height: 32px;
    position: relative;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.social-icon:hover i:first-child {
    margin-top: -32px;
}
.social-icon.social-icon-small i {
    font-size: 16px;
    line-height: 28px;
}
.social-icon.social-icon-small:hover i:first-child {
    margin-top: -28px;
}
.social-icon.social-icon-large i {
    font-size: 34px;
    line-height: 44px;
}
.social-icon.social-icon-large:hover i:first-child {
    margin-top: -44px;
}

.social-icon:hover {
	text-decoration: none;
}
.social-icon-colored.social-icon, .social-icon:hover {
    border-color: transparent;
}
.social-icon-colored.social-icon-facebook, .social-icon-facebook:hover {
    background-color: #3b5998;
}
.social-icon-colored.social-icon-twitter, .social-icon-twitter:hover {
    background-color: #00acee;
}
.social-icon-colored.social-icon-gplus, .social-icon-gplus:hover {
    background-color: #dd4b39;
}
.social-icon-colored.social-icon-linkedin, .social-icon-linkedin:hover {
    background-color: #0077b5;
}
.social-icon-colored.social-icon-vimeo, .social-icon-vimeo:hover {
    background-color: #1ca7cc;
}
.social-icon-colored.social-icon-pinterest, .social-icon-pinterest:hover {
    background-color: #cb2027;
}
.social-icon-colored.social-icon-dribbble, .social-icon-dribbble:hover {
    background-color: #ec4a89;
}
.social-icon-colored.social-icon-rss, .social-icon-rss:hover {
    background-color: #fb9f3c;
}
.social-icon-colored.social-icon-flickr, .social-icon-flickr:hover {
    background-color: #ff0084;
}
.social-icon-colored.social-icon-instagram, .social-icon-instagram:hover {
    background-color: #bc2a8d;
}
.social-icon-colored.social-icon-youtube, .social-icon-youtube:hover {
    background-color: #bb0000;
}
.social-icon-colored.social-icon-skype, .social-icon-skype:hover {
    background-color: #12a5f4;
}
.social-icon-colored.social-icon-yahoo, .footer .social-icon-yahoo:hover {
    background-color: #7B0099;
}
.social-icon-colored.social-icon-tumblr, .social-icon-tumblr:hover {
    background-color: #32506d;
}
.social-icon i:last-child {
    color: #fff;
}
.social-icon-colored i {
    color: #fff;
}


/*
|----------------------------------------------------------------------------
	10. PRICING / .pricing-table
|----------------------------------------------------------------------------
*/
#pricingtable {
	padding: 70px 0;
	background-color: #fff;
}
#pricingtable .pricing-plan-table {
    padding: 30px 0 0;
}
#pricingtable .pricing-plan-wrap {
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px rgba(62, 62, 62, 0.5);
    color: #222;
	margin: 0 auto 50px;
    max-width: 360px;
    min-height: 425px;
    overflow: hidden;
    text-align: center;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
#pricingtable .pricing-plan-wrap:hover {
    box-shadow: 0 0 10px 1px rgba(62, 62, 62, 0.8);
}
#pricingtable .pricing-plan-header {
	background-color: rgba(62, 62, 62, 0.5);
	color: #000;
    height: 165px;
    margin: 0 0 105px;
    padding: 30px 30px 0;
    position: relative;
}
#pricingtable .pricing-plan-wrap.active .pricing-plan-header {
    background-color: #ff7700;
}
#pricingtable .pricing-plan-header > h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    text-transform: uppercase;
}
#pricingtable .pricing-plan-wrap.active .pricing-plan-header  {
    color: #fff;
}
#pricingtable .pricing-plan-wrap.active .pricing-plan-header > h3  {
    border-color: #fff;
}
#pricingtable .price-holder {
    background-color: #ff7700;
    border: 5px solid #fff;
    border-radius: 50%;
    bottom: 0;
    color: #222;
    height: 150px;
    left: 50%;
    margin-bottom: -75px;
    margin-left: -75px;
    padding: 30px 0;
    position: absolute;
    width: 150px;
}
#pricingtable .pricing-plan-wrap:hover .pricing-plan-header, #pricingtable .pricing-plan-wrap:hover .price-holder {
    background-color: #ff7700;
    color: #fff;
}
#pricingtable .pricing-plan-wrap.active .price-holder {
    background-color: #ff7700;
}
#pricingtable .price-holder p {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin: -3px 0 0;
}
#pricingtable .pricing-plan-wrap .btn-shutter-out-horizontal {
    margin: 30px 0;
}
#pricingtable .pricing-plan-wrap ul.list-unstyled {
    margin: 30px 30px 0;
}
#pricingtable .pricing-plan-wrap li {
    padding: 10px 0;
}
#pricingtable .price-holder sup {
    font-size: 60%;
    top: -0.6em;
	padding-right: 8px;
}
#pricingtable.pricing-style2 .price-holder sup {
    font-size: 60%;
    top: 0;
	padding-right: 8px;
}
#pricingtable .price-holder sub {
    bottom: 10px;
    color: #fff;
    font-size: 14px;
}

/*
|----------------------------------------------------------------------------
	11. PORTFOLIO
|----------------------------------------------------------------------------
*/
#portfolio {
	background-color: #f7f7f7;
	padding: 70px 0;
}
/* category filter */
.filter-section {
	padding-top:40px;
}
.filter-container {
    margin: 0 0 30px;
    text-align:center;
}
.filter-section h1 {
    text-align:center
}
.filter-section .filter-container .filter > li {
    margin: 0;
    padding: 0 5px 10px;
}
ul.filter > li > a {
	color: #fff;
	border: 1px solid;
    border-radius: 4px;
	display:  block;
    font-size: 20px;
    line-height: 1;
    padding: 6px 12px;
}
ul.filter > li.active a, ul.filter > li > a:hover,ul.filter > li > a:focus {
	background-color: #ff7700;
	border-color: #ff7700;
    color: #fff;
    text-decoration:none;
    outline:none
}
.isotopeContainer {
    margin: 0 0 20px;
}
.portfolio-wrapper {
    cursor: pointer;
	margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.portfolio-wrapper > img {
	width: 100%;
}
.portfolio-overlay-inner {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.portfolio-overlay-content {
    display: table-cell;
    vertical-align: middle;
}
.portfolio-link a , .portfolio-caption a {
    color: #fff;
	display: inline;
    font-size: 18px;
    margin: 2.5px;
    padding: 2px 6px;
	text-transform: uppercase;
}
.portfolio-link a {
    border: 1px solid #fff;
}
.portfolio-link a:hover, .portfolio-caption a:hover {
	text-decoration: none;
}
.portfolio-style2 .isotopeContainer {
	margin: 0 15px 50px;
}
.no-space, .no-space .portfolio-wrapper{
    margin: 0;
    padding: 0;
}

.portfolio-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;	
    opacity: 0;
	padding: 10%;
    position: absolute;
    text-align: center;
    top: 0;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	-webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 2;
}
.portfolio-overlay p, .portfolio-overlay a {
    position: relative;
    z-index: 4;
}
.portfolio-overlay::before {
    border-width: 0;
    content: "";
    height: 0;
    left: 10%;
    position: absolute;
    top: 10%;
	-webkit-transition: height 0.5s ease 0.15s;
    -moz-transition: height 0.5s ease 0.15s;
    -ms-transition: height 0.5s ease 0.15s;
    -o-transition: height 0.5s ease 0.15s;
    transition: height 0.5s ease 0.15s;
    width: 0;
    z-index: 3;
}
.portfolio-overlay::after {
    border-width: 0;
    bottom: 10%;
    content: "";
    height: 0;
    position: absolute;
    right: 10%;	
	-webkit-transition: width 0.1s ease 0.2s;
    -moz-transition: width 0.1s ease 0.2s;
    -ms-transition: width 0.1s ease 0.2s;
    -o-transition: width 0.1s ease 0.2s;
    transition: width 0.1s ease 0.2s;
    width: 0;
    z-index: 3;
}
.portfolio-wrapper:hover .portfolio-overlay::before {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 80%;	
	-webkit-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -moz-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -ms-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -o-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    width: 80%;
}
.portfolio-wrapper:hover .portfolio-overlay::after {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 80%;
	-webkit-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -moz-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -ms-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -o-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    width: 80%;
}
.portfolio-wrapper:hover .portfolio-overlay {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


.light-bg ul.filter > li > a {
	color: #000;
	border: 1px 000;
}
.light-bg ul.filter > li.active a, .light-bg ul.filter > li > a:hover, .light-bg ul.filter > li > a:focus {
	background-color: #ff7700;
	border-color: #ff7700;
    color: #fff;
}

/*
|----------------------------------------------------------------------------
	11.1 LIGHTBOX
|----------------------------------------------------------------------------
*/
.lightbox .lb-image {
    border: 10px solid #fff;
    border-radius: 15px;
}
.lb-data .lb-details {
    width: 90%;
    line-height: 1.48;
    margin: 10px 0;
}
.lb-data .lb-caption {
    font-size: 16px;
	line-height: 1.48;
	border-left: 5px solid #ff7700;
	border-radius: 2px;
	padding: 5px 0 5px 10px;
}
.lb-data .lb-number {
    padding-top: 8px;
    font-size: 14px;
}
.lb-data {
    color: #fff;
}

/*
|----------------------------------------------------------------------------
	12. CLIENTS
|----------------------------------------------------------------------------
*/	
#clients {
	padding: 70px 0;
}
.client-item-wrap {
    border: 1px solid transparent;
    padding: 10px;
}
.client-item-wrap:hover {
	cursor: pointer;
}
.client-item-wrap img{
	max-width: 200px;
}
#clients .owl-carousel.owl-loaded {
    margin-bottom: 50px;
}

/*
|----------------------------------------------------------------------------
	13. TEAM / .team-wrap
|----------------------------------------------------------------------------
*/
#team {
	padding: 70px 0;
}
.team-wrap {
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #f0f0f0;
    border-width: 1px;
    border-radius: 5px 5px 20px;
	margin-bottom: 50px;
    position: relative;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.team-wrap:hover {
	background-color: #fff;
	box-shadow: 0 0 5px 1px rgba(62, 62, 62, 0.5);
}
.team-thumb img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}
.team-social-box {
    text-align: center;
	background-color: rgba(0,0,0,0.7);
	padding: 10px 0 5px;
	margin-top: -48px;
	position: absolute;
	width: 100%;
}
.team-wrap:hover .team-social-box {
	background-color: rgba(0, 0, 0, 1);
}
#team .team-social-box a {
    border: none;
}
.team-social-box .social-icon i {
    color: #fff;
}
.team-details{
	height: auto;
    overflow: hidden;
    padding: 0 15px;
	margin-top: 20px;
    position: relative;
    width: 100%;
}
.team-title h4 {
	color: #ff7700;
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.team-title h5 {
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 20px;
}
.team-details p {
    margin: 0 0 20px;
}
.team-social {
    margin-bottom: 20px;
}
.details-plain {
    opacity: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.team-wrap:hover .details-plain {
    opacity: 1;
}
.details-overly{
    left: 0;
	opacity: 1;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	-moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateY(-50%);
}
.team-wrap:hover .details-overly {
	opacity: 0;
}
.team-wrap .social-icon {
    display: inline-block;
}
.team-wrap .details-plain .team-title {
    display: none;
}

/*
|----------------------------------------------------------------------------
	14. QUOTES
|----------------------------------------------------------------------------
*/
#quotes-section {
	background-color: #ff7700;
	padding: 70px 0;
	color: #fff;
}
.quotes-section .title-wrap h2 {
    text-transform: capitalize;
}
.quotes-wrap {
    margin: 0 0 50px;
}
.quotes-wrap p {
	font-size: 24px;
    margin: 0 0 30px;
}
.quotes-wrap .btn {
    margin-top: 0;
}

/*
|----------------------------------------------------------------------------
	15. BLOG / #blog
|----------------------------------------------------------------------------
*/
#blog {
	padding: 70px 0;
}
.post-meta  {
	font-size: 15px;
	font-style: italic;
}
.post-meta i {
    padding: 0 5px 0 0;
}
.post-meta span {
    padding: 0 10px 0 0;
}
#blog .post-meta a, .post-meta a  { 
    color: #222;
}
#blog .post-meta a:hover, .post-meta a:hover {
    color: #ff7700;
}
#blog .post-wrap {
	background-color: transparent;
	border: 1px solid #f0f0f0;
	border-radius: 5px 5px 20px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#blog .post-content {
    padding: 20px 15px 0;
}
#blog .post-wrap:hover .post-content {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
#blog .post-title {
    color: #505050;
    margin: 0 0 20px;
}
#blog .post-meta {
    background-color: #f0f0f0;
    color: #222;
    margin: 0 -15px;
	padding: 15px;
}
#blog .post-wrap:hover  .post-meta {
    background-color: #ff7700;
    color: #fff;
	border-radius: 0 0 20px 5px;
}
#blog .post-wrap:hover  .post-meta a {
    color: #fff;
}
#blog .post-title > h3 {
	font-size: 18px;
	font-weight: 500;
    margin: 0 0 20px;
}
#blog .post-title a {
	text-decoration: none;
}
#blog .post-excerpt > p {
    color: #505050;
    margin: 0 0 30px;
}
#blog a.btn-more {
    color: #ff7700;
	display: inline-block;
    padding: 0 5px;
}
a.btn-more:hover i {
    margin-left: 2px;
}
#blog .owl-carousel.owl-loaded {
    padding-top: 60px;
    margin-bottom: 50px;
}
#blog .owl-nav [class^="owl-"],
#blog .owl-nav [class*="owl-"] {
	background: transparent;
    border: 1px solid #ff7700;
    color: #ff7700;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 30px;
}
#blog .owl-nav [class*="owl-"]:hover {
	background: #ff7700;
	color: #fff;
}
#blog .owl-nav .owl-next {
    right: 50%;
	margin: 0 -40px 0 0;
}
#blog .owl-nav .owl-prev {
    left: 50%;
	margin: 0 0 0 -40px;
}
#blog .owl-stage-outer {
    margin-right: -1px;
}
.owl-carousel .post-wrap .post-thumb > img {
    transform-style: flat;
}

/*
|----------------------------------------------------------------------------
	15.1. BLOG STYLE 1 / .blog-style1
|----------------------------------------------------------------------------
*/
.blog-style1 .post-content-top, .blog-style1 .post-content-bottom {
	position: relative;
}
.blog-style1 .content-inner {
	padding: 20px 15px;
}
.blog-style1 .hover-overlay {
    background-color: #ff7700;
    height: 0;
    left: 0;
    position: absolute;
	-webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    width: 100%;
    z-index: 1;
}
#blog.blog-style1  .post-wrap a.btn-more {
    color: #ff7700;
	font-weight: 500;
}

/*
|----------------------------------------------------------------------------
	16. TESTIMONIAL
|----------------------------------------------------------------------------
*/
#testimonials {
	background-color: #f7f7f7;
	padding: 70px 0;
}
.testimonial-image {
	margin: 0 0 20px;
}
.testimonial-image img {
	border: 2px solid #ff7700;
    border-radius: 50%;
    height: 100px;
    max-width: 100px;
	margin: 0 auto;
}
.testimonial-content p.blockquote::before {
    color: #ff7700;
    content: "“";
    font-family: 'Times New Roman';
    font-size: 5em;
    left: -15px;
    position: absolute;
    top: -80px;
}
.testimonial-content > p {
	font-weight: 300;
    font-style: italic;
    margin: 0 0 30px;
    position: relative;
}
.testimonial-author {
    text-align: center;
}
.testimonial-author h4 {
	font-size: 24px;
	margin: 0 0 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.testimonial-author > p {
	font-size: 14px;
    margin: 0;
}

#testimonials.light-bg {
	color: #000;
}

/*
|----------------------------------------------------------------------------
	16.1. CAROUSEL CONTROL FOR TESTIMONIAL
|----------------------------------------------------------------------------
*/
.testimonials .owl-carousel {
	position: relative;
	margin-top: 0;
	margin-bottom: 50px;
}
.testimonials .owl-nav {
	margin-top: 0;
}
.testimonials .owl-nav [class^="owl-"],
.testimonials .owl-nav [class*="owl-"] {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	font-size: 20px;
	background-color: #3e3e3e;
	border-radius: 50%;
	color: #fff;
	padding: 2px 11px;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.testimonials .owl-nav {
    opacity: 0;
}
.testimonials:hover  .owl-nav {
    opacity: 1;
}
.testimonials .owl-nav [class^="owl-"]:hover,
.testimonials .owl-nav [class*="owl-"]:hover {
	background: rgba(0, 0, 0, 0.3);
}
.testimonials .owl-nav .owl-prev {
	left: 0;
}
.testimonials .owl-nav .owl-next {
	right: 0;
}
/* CAROUSEL CONTROL */
.owl-theme .owl-nav{
	margin-top: 0;
}
.owl-theme .owl-dots {
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span {
    background-color: transparent;
	border: 2px solid #ff7700;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ff7700;
}

/*
|----------------------------------------------------------------------------
	16.2. TESTIMONIAL RATINGS
|----------------------------------------------------------------------------
*/
.rating-wrap {
    margin: 0 0 30px;
	text-align: right;
}
.rating-wrap .rating {
    color: #ff7700;
    display: inline-block;
    position: relative;
    text-align: left;
}
.rating-wrap .rating::before {
    content: "\f006\f006\f006\f006\f006";
    font: 18px/1.2em "FontAwesome";
    letter-spacing: 2px;
}
.rating-wrap .rating .stars {
    color: #ff7700;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.rating-wrap .rating .stars::before {
    color: inherit;
    font: 18px/1.2em "FontAwesome";
    letter-spacing: 2px;
}
.rating-wrap .rating .stars.one::before {
    content: "\f005\f005\f005";
}
.rating-wrap .rating .stars.two::before {
    content: "\f005\f005";
}
.rating-wrap .rating .stars.three::before {
    content: "\f005\f005\f005";
}
.rating-wrap .rating .stars.four::before {
    content: "\f005\f005\f005\f005";
}
.rating-wrap .rating .stars.five::before {
    content: "\f005\f005\f005\f005\f005";
}

/*
|----------------------------------------------------------------------------
	17. CONTACT
|----------------------------------------------------------------------------
*/
#contact {
	padding: 70px 0;
}
/*CONTACT INFO*/
.contact-item {
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
    border-radius: 5px 5px 20px;
    display: table;
    height: 160px;
    margin: 0 0 50px;
	padding: 30px 15px;
    text-align: center;
	width: 100%;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.contact-item-inner {
    display: table-cell;
    vertical-align: middle;
	
}
.contact-icon {
    overflow: hidden;
}
.contact-desc {
    overflow-wrap: break-word;
}
.contact-desc a {
    color: #222;
    text-decoration: none;
}
.contact-desc h4 {
    margin: 15px 0 0;
}
.contact-icon i {
    border: 1px solid #ff7700;
    border-radius: 50%;
    color: #ff7700;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    transition: all 0.8s ease 0s;
    width: 64px;
}
.contact-item:hover {
    background-color: #fff;	
	border-color: #e5e5e5;
}
.contact-item:hover i {
    background-color: #ff7700;
    color: #fff;
}

/*
|----------------------------------------------------------------------------
	17.1. CONTACT FORM / #contactForm
|----------------------------------------------------------------------------
*/
#msgSubmit {
    margin: 0 0 25px;
}
.form-group {
    position: relative;
    margin: 0 0 30px;
}
.form-control {
    border: 1px solid #ff7700;
    padding-left: 50px;
	color: #222;
	font-size: 16px;
}
.input-group-icon {
    position: absolute;
	top: 0;
}
.form-group .input-group-icon {
    background-color: #ff7700;
    border: 0 none;
	border-radius: 4px;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    display: table-cell;
    font-size: 14px;
	height: 100%;
    padding: 6px 7px 4px;
    text-align: center;
	-webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    vertical-align: top;
    white-space: nowrap;
    width: 40px;
}
#contactForm {
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
	border-radius: 5px 5px 20px;
	margin: 0 0 50px;
	padding: 30px 0 0;
	position: relative;
	-webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
#contactForm:hover {
	background-color: #fff;	
	border-color: #e5e5e5;
}
#contactForm .form-control:focus {
    border-color: #ff7700;
	box-shadow: 0 1px 1px rgba(4, 185, 98, 0.075) inset, 0 0 8px rgba(4, 185, 98, 0.6);
}
.form-control:focus + .input-group-icon{
    background: #ff7700;
    color: #fff;
}
.has-error .form-control {
    border-color: #e91313;
}
.has-error .input-group-icon {
    background: #e91313;
    color: #ffffff;
}
.has-error .form-control:focus {
    border-color: #ff7700;
	box-shadow: 0 1px 1px rgba(4, 185, 98, 0.075) inset, 0 0 8px rgba(4, 185, 98, 0.6);
}
#contactForm .help-block {
	font-size: 14px;
    color: #e91313;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 42px;
    position: absolute;
    top: -22px;
}
#contactForm .text-success {
    color: #37a000;
}
#contactForm .text-danger {
    color: #e91313;
	margin: 0 0 30px;
}
#contactForm .btn.disabled {
    opacity: 1;
}
#submit.btn {
    transition: all 0.5s ease 0s;
    width: 150px;
}
#submit.btn::after {
    content: "\f0a9";
    font-family: fontawesome;
    font-size: 20px;
	color: #000;
    position: absolute;
    right: 50px;
	-webkit-transition:all .3s ease 0s;
    -moz-transition:all .3s ease 0s;
    -ms-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
	opacity: 0;
}
#submit.btn:hover::after {
	right:10px;
	opacity: 1;
}
#contactForm .sub-text { 
	right: 30px;
    bottom: 50px;
    color: #e91313;
    font-size: 14px;
    position: absolute;
}

/*
|----------------------------------------------------------------------------
	17.2. SELECT BOX / select.form-control
|----------------------------------------------------------------------------
*/
select.form-control {
	background-color: #fff;
	display: inline-block;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: linear-gradient(45deg, transparent 50%, #ff7700 50%),
		linear-gradient(135deg, #ff7700 50%, transparent 50%),
		radial-gradient(transparent 66%, transparent 66%);
	background-position: calc(100% - 18px) calc(1em + 2px),
		calc(100% - 13px) calc(1em + 2px),
		calc(100% - .5em) .5em;
	background-size: 5px 6px, 6px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
}
select.form-control::-ms-expand {
    display: none;
}

/*
|----------------------------------------------------------------------------
	18. SUCCESS STORY
|----------------------------------------------------------------------------
*/
#success-story {
	background-color: #f7f7f7;
	padding: 70px 0;
}
#success-story .counter-wrap {
	margin: 0 0 50px;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#success-story .counter-wrap:hover {
	border-left-color: #ff7700;
    border-right-color: #ff7700;
}
#success-story .counter-icon {
    margin: 0 0 15px;
}
#success-story .counter-wrap i {
    border: 2px solid #fff;
	color: #fff;
    border-radius: 50%;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    width: 64px;
}
#success-story .counter-wrap:hover i {
    background-color: #ff7700;
    border: 1px solid #ff7700;
    color: #fff;
}
#success-story .counter {
	color: #fff;
    font-size: 48px;
    font-weight: bold;
	line-height: 1;
    text-align: center;
	margin: 30px 0 20px;
}
#success-story .counter-wrap p {
	color: #fff;
	margin: 10px 0 0;
	font-size: 20px;
    font-weight: 500;
}

#success-story.light-bg {
	color: #000;
}
#success-story.light-bg .counter-wrap i {
    border: 2px solid #000;
	color: #000;
}
#success-story.light-bg .counter-wrap:hover i {
    background-color: #ff7700;
    border: 1px solid #ff7700;
    color: #fff;
}
#success-story.light-bg .counter {
	color: #000;
}
#success-story.light-bg .counter-wrap p {
	color: #000;
}

/*
|----------------------------------------------------------------------------
	19. SINGLE SERVICE / #service-single-content
|----------------------------------------------------------------------------
*/
#service-single-content .post-image {
    margin: 60px 0 30px;
}
#service-single-content aside {
    margin-top: 60px;
}
#service-single-content .post-title {
	font-size: 32px;
	font-weight: bold;
    margin: 30px 0;
}
#service-single-content .service-content {
    margin: 0 0 30px;
}
#service-single-content p {
	color: #505050;
    margin: 0 0 30px;
}
#service-single-content .service-content img {
    margin: 0 0 30px;
}
#service-single-content  #accordion .panel-heading {
    padding: 10px 25px;
}
#service-single-content .panel-group {
    margin: 0 0 30px;
	padding-top: 10px;
}
#service-single-content .panel-default > .panel-heading {
    cursor: pointer;
}
#service-single-content .panel-title a {
    font-size: 20px;
	font-weight: 500;
    text-decoration: none;
}
#service-single-content .panel-title .glyphicon {
    top: 5px;
}
#service-single-content .panel-title a:hover {
    color: #fff;
}
.panel-group .panel-body {
    padding: 15px 25px;
}
.panel-group .panel + .panel {
    margin-top: 15px;
}
.panel-default > .panel-heading.highlight, .panel-default > .panel-heading:hover {
	background-color: #ff7700;
    background-image: -moz-linear-gradient(to right, #ff7700 0px, #0dd197 100%);
    background-image: -webkit-linear-gradient(to right, #ff7700 0px, #0dd197 100%);
    background-image: -o-linear-gradient(to right, #ff7700 0px, #0dd197 100%);
    background-image: -ms-linear-gradient(to right, #ff7700 0px, #0dd197 100%);
    background-image: linear-gradient(to right, #ff7700 0px, #0dd197 100%);
	color: #fff;
}
.panel-default > .panel-heading, .panel-default > .panel-heading.default-color {
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(to bottom, #f0f0f0 0px, #e8e8e8 100%);
	background-image: -webkit-linear-gradient(to bottom, #f0f0f0 0px, #e8e8e8 100%);
	background-image: -o-linear-gradient(to bottom, #f0f0f0 0px, #e8e8e8 100%);
	background-image: -ms-linear-gradient(to bottom, #f0f0f0 0px, #e8e8e8 100%);
	background-image: linear-gradient(to bottom, #f0f0f0 0px, #e8e8e8 100%);
	color: #222;
}

/*
|----------------------------------------------------------------------------
	19.1. SERVICE LIST / .service-list
|----------------------------------------------------------------------------
*/
#service-single-content .service-list ul {
    margin: 0 0 30px;
    padding: 0;
}
.service-list ul li {
    margin-bottom: 15px;
    padding-left: 26px;
    position: relative;
}
.service-list ul li:last-child {
	margin-bottom: 0;
}
.service-list ul li::before {
    color: #ff7700;
    content: "\f046";
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 0;
}

/*
|----------------------------------------------------------------------------
	19.2. SERVICE MENU / .service-menu
|----------------------------------------------------------------------------
*/
#service-single-content .service-list-menu {
    margin: 0 0 60px;
}
.service-menu li {
    margin: 0 0 15px;
}
.service-menu li:last-child {
	padding: 0;
}
.service-menu a {
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #222;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.service-menu a:hover, .service-menu a.active  {
    background-color: #ff7700;
    color: #fff;
}
.service-menu a i {
    padding: 0 10px;
}

/*
|----------------------------------------------------------------------------
	19.3. SERVICE BROCHURE / .service-brochure
|----------------------------------------------------------------------------
*/
.service-brochure {
    background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 60px 0;
    padding: 0 20px;
}
.service-brochure:hover {
    background-color: #fff;
    border-color: #e5e5e5;
}
.brochure-menu {
    margin: 0 0 30px;
}
.brochure-menu li {
    border-bottom: 1px dotted #d0d0d0;
    padding: 10px 0;
}
.brochure-menu li:first-child {
    padding: 5px 0 10px;
}
.brochure-menu li:last-child {
    border-bottom: none;
	padding: 10px 0 0;
}
.brochure-menu a i {
    float: right;
	padding: 6px 0;
}

/*
|----------------------------------------------------------------------------
	19.4. SERVICE FEATURE / .service-features
|----------------------------------------------------------------------------
*/
#service-single-content .service-features {
	border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 60px 0;
    padding: 0 20px;
}
#service-single-content .service-features:hover {
    border-color: #e5e5e5;
}
#service-single-content .service-features .title-box, #service-single-content .service-brochure .title-box {
    margin-top: 30px;
}
#service-single-content .panel-group {
    margin: 0 0 30px;
	padding-top: 0;
}

/*
|----------------------------------------------------------------------------
	19.5. SERVICE QUOTEFORM / #serviceQuoteForm
|----------------------------------------------------------------------------
*/
#service-single-content .quoteForm-holder2 {
    margin: 0 0 60px;
}
.quoteForm {
    margin: 30px 15px;
    max-width: 350px;
    padding: 30px 15px;
	position: relative;
    width: 100%;
}
.quoteForm .form-title {
	line-height: 1;
    margin: 0 0 30px;
	position: relative;
    text-align: center;
    text-transform: uppercase;
}
#quoteForm .form-control {
    background-color: transparent;
    border: 1px solid #ff7700;
    color: #fff;
}
#quoteForm .form-control.bootstrap-select {
    padding-left: 50px;
}
#quoteForm .bootstrap-select .btn {
    padding: 5px 0;
}
.quoteForm-holder #quoteForm .btn-shutter-out-horizontal:hover {
    border-color: #ff7700;
}
#quoteForm .form-control:focus {
    border-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
}
#quoteForm .has-error .form-control {
    border-color: #e91313;
}
.quoteForm .btn.dropdown-toggle.btn-default {
    background: transparent;
    border: 0 none;
    border-radius: 0;
	box-shadow: none;
    color: #fff;
	font-size: 16px;
    padding: 0;
    text-shadow: none;
}
.quoteForm .btn.dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.quoteForm .help-block.with-errors {
	font-size: 14px;
	color: #e91313;
    top: -20px;
    left: 40px;
    margin: 0;
    position: absolute;
}
.quoteForm .sub-text { 
	right: 20px;
	bottom: 75px;
    color: #e91313;
    font-size: 14px;
    position: absolute;
}
.quoteForm .text-danger {
	color: #e91313;
	margin: 0 0 30px;
}
.h3.text-success {
    color: #37a000;
}
.quoteForm-holder .quoteForm .form-control::-webkit-input-placeholder { color: #fff; }
.quoteForm-holder .quoteForm .form-control:-moz-placeholder { color: #fff; }
.quoteForm-holder .quoteForm .form-control::-moz-placeholder { color: #fff; }
.quoteForm-holder .quoteForm .form-control:-ms-input-placeholder { color: #fff; }

.quoteForm-holder2 .quoteForm {
    margin: 60px 0 30px;
    max-width: 100%;
}
#serviceQuoteForm .quoteForm .form-title {
    color: #222;
}	
#serviceQuoteForm .quoteForm {
    background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
    border-radius: 10px;
}
#serviceQuoteForm .quoteForm:hover {
    background-color: #fff;
    border-color: #e5e5e5;
}
#serviceQuoteForm .quoteForm .btn.dropdown-toggle.btn-default {
    color: #999;
}
#serviceQuoteForm #quoteForm .form-control {
    color: #222;
}
#serviceQuoteForm .form-control:focus {
    border-color: #ff7700;
	box-shadow: 0 1px 1px rgba(4, 185, 98, 0.075) inset, 0 0 8px rgba(4, 185, 98, 0.6);
}
#serviceQuoteForm .quoteForm .form-control:focus + .input-group-icon {
    background-color: #ff7700;
	border-color: #ff7700;
    color: #fff;
}
.quoteForm-holder2 #quoteForm .has-error .form-control:focus {
    border-color: #ff7700;
	box-shadow: 0 1px 1px rgba(4, 185, 98, 0.075) inset, 0 0 8px rgba(4, 185, 98, 0.6);
}

#serviceQuoteForm.hireme-holder .quoteForm {
	background-color: #f0f0f0;
	border-radius: 5px 5px 20px;
    margin: 0 0 50px;
    max-width: 100%;
}
#serviceQuoteForm.hireme-holder .quoteForm:hover {
	background-color: #fff;	
	border-color: #e5e5e5;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}
#serviceQuoteForm.hireme-holder .quoteForm .get-quote-text {
    margin: 0 0 18px;
}


/*
|----------------------------------------------------------------------------
	20. SINGLE PORTFOLIO / #pfolio-single-content
|----------------------------------------------------------------------------
*/
#pfolio-single-content aside#sidebar {
    margin: 60px 0 30px;
}
#pfolio-single-content aside#sidebar .title-box:first-child {
    margin: 0 0 30px;
}
#pfolio-single-content .post-title {
    margin: 60px 0 30px;
}
#pfolio-single-content .post-title h1 {
    margin: 0 0 40px;
}
#pfolio-single-content .post-image {
    margin: 30px 0;
}
#pfolio-single-content .share-icon {
    margin: 0 0 30px;
}
#pfolio-single-content ul.portfolio-info {
    background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
    border-radius: 10px;
	margin: 40px 0;
    padding: 20px;
}
#pfolio-single-content ul.portfolio-info:hover {
    background-color: #fff;
    border-color: #e5e5e5;
}
#pfolio-single-content ul.portfolio-info li {
    border-bottom: 1px dotted #d0d0d0;
    padding: 15px 0;
}
#pfolio-single-content ul.portfolio-info li:last-child {
    border: 0 none;
}
#pfolio-single-content ul.portfolio-info li span, #pfolio-single-content ul.portfolio-info li i {
	color: #ff7700;
    font-weight: bold;
    padding-right: 10px;
}
#pfolio-single-content ul.portfolio-info li .info-right {
    padding-left: 30px;
}
#pfolio-single-content p {
	color: #505050;
    margin: 0 0 30px;
}
#related-portfolio {
	clear: both;
	margin: 0 0 30px;
}
#related-portfolio .title-box {
	margin: 60px 0 30px;
}
.btn.btn-project {
    margin: 0 0 30px;
	line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

/*
|----------------------------------------------------------------------------
	21. SINGLE BLOG / #single-post-content
|----------------------------------------------------------------------------
*/
#single-post-content {
    margin: 0 0 30px;
}
#single-post-content .post-title {
    margin: 30px 0 20px;
}
.post-title h1 {
    font-size: 32px;
	line-height: 1.2;
    font-weight: 500;
    margin: 0 0 20px;
}
#single-post-content .post-meta {
	margin: 0 0 30px;
}
#single-post-content .post-body > p {
	color: #505050;
    margin: 0 0 30px;
}
#single-post-content .post-body {
	color: #505050;
    margin: 0 0 30px;
    margin: 0 0 30px;
}
.post-navigation {
    border-top: 1px solid #eee;
    padding-top: 30px;
	margin: 40px 0 50px;
}
.post-navigation a {
    font-size: 18px;
    font-weight: bold;
}
.post .share-icon {
    margin: 0 0 30px;
}
.share-icon .list-inline.list-social {
    margin: 10px 0 0;
}
.share-icon .list-inline.list-social li {
    margin: 0 0 10px;
}
.share-icon > span {
    color: #ff7700;
    font-weight: bold;
}

/*
|----------------------------------------------------------------------------
	21.1. RELATED POST / #related-blog
|----------------------------------------------------------------------------
*/
#related-blog {
    clear: both;
}
#related-blog .title-box {
	margin: 60px 0 30px;
}
#related-blog .blog-wrap {
	background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
	margin: 0 auto 50px;
    max-width: 300px;
}
#related-blog .blog-wrap:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#related-blog .blog-thumb img, .post .post-image img, .post-thumbnail img  {
	width: 100%;
}
#single-post-content .post .post-image {
    overflow: hidden;
	position: relative;
	margin: 60px 0 30px;
}
#related-blog .blog-title h3 {
    font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
    margin: 10px 0;
}
#related-blog .blog-title h3 a {
	text-decoration: none;
}
#related-blog .blog-title h3 a:hover {
	color: #ff7700;
}
#related-blog .blog-wrap:hover .blog-thumb::before {
    content: none;
}
.blog-thumb > a, .post-thumbnail a {
    display: block;
}

/*
|----------------------------------------------------------------------------
	21.2. POST COMMENTS LIST / .commentlist
|----------------------------------------------------------------------------
*/
#comments {
    position: relative;
}
#comments .title-box {
    margin: 10px 0 30px;
}
/*commentlist*/
#comments .commentlist {
    margin-left: 32px;
    list-style: outside none none;
}
.commentlist li {
    margin: 0 0 30px;
    position: relative;
}
.commentlist li ul.children {
	margin: 30px 0;
}
.comment-wrap {
    border: 1px solid #ff7700;
    border-radius: 5px;
    padding: 30px 60px;
    position: relative;
}
.comment-wrap h4 {
    margin: 0 0 10px;
}
.comment-author-avatar {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ff7700;
    border-radius: 10px;
    left: -34px;
    padding: 4px;
    position: absolute;
    top: 30px;
}
.children .comment-author-avatar {
    left: -25px;
}
.comment-author-avatar img {
    border-radius: 10px;
    display: block;
}
.commentlist li .children {
	list-style: outside none none;
    margin-top: 0;
}
.commentlist li .comment-content {
    padding: 0 0 0 15px;
}
.comment-content .comment-meta h4 a {
	color: #222;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
}
.comment-content .comment-meta a {
	color: #505050;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}
.comment-content a {
	text-decoration: none;
}
.comment-content a:hover {
    color: #ff7700;
}
.commentlist li .comment-content p {
    color: #505050;
    margin: 20px 0;
}
.commentlist li .comment-content a.comment-reply-link {
    margin-top: 10px;
	font-weight: 500;
}

/*
|----------------------------------------------------------------------------
	21.3. COMMENTS FORM / #commentform
|----------------------------------------------------------------------------
*/
#respond .title-box {
    margin: 30px 0;
}
#commentform .comment-notes {
    margin-bottom: 30px;
    padding: 0 0 0 15px;
}
#commentform .required {
    font-weight: bold;
    color: red;
}
#commentform .form-group {
    display: table;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
#commentform .form-control {
    padding-left: 10px;
}

/*
|----------------------------------------------------------------------------
	22. SIDEBAR
|----------------------------------------------------------------------------
*/
aside#sidebar {
	margin: 60px 0;
}
aside#sidebar .title-box {
    margin: 60px 0 30px;
}
/*Search*/
.search-input-group .input-group-addon {
    background-color: #ff7700;
    border-color: #ff7700;
    color: #fff;
}
.search-input-group .form-control{
	border-color: #ff7700;
	border-right: 0;
	padding-left: 10px;
}
.search-input-group .form-control:focus, .search-input-group .form-control:focus + .input-group-addon{
	border-color: #ff7700;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset, 0 0 6px 0 #ff7700;
}
.search-input-group button{
    border:0;
    background:transparent;
}
.widget-area ul {
    list-style: outside none none;
    padding: 0;
}
.widget-area ul li::before {
    color: #ff7700;
    font-family: fontawesome;
    font-size: 15px;
    padding-right: 10px;
}
.recent-comments li::before{
    content: "\f075";
	margin-left: -25px;
}
.widget-area .recent-comments ul li {
    padding-left: 25px;
    color: #222;
}
.widget-area ul li {
	color: #505050;
    border-bottom: 1px solid #f0f0f0;
    margin: 20px 0;
    padding: 0 0 20px;
}
.widget-area ul li h3 {
    font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	margin: -5px 0 10px;
}
.widget-area ul li h3 a:hover {
	color: #ff7700;
}
.widget-area .post-thumbnail, .footer .post-thumbnail {
    float: left;
    height: 80px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 80px;
}
.widget-area .post-content, .footer  .post-content {
    margin-left: 90px;
}

.tags a {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 8px 5px;
    padding: 6px 12px;
}

/*
|----------------------------------------------------------------------------
	23. Button / .btn-shutter-out-horizontal
|----------------------------------------------------------------------------
*/
.btn {
	font-size: 18px;
	overflow: hidden;
	padding: 6px 20px;
}
.btn-shutter-out-horizontal {
    background-color: #ff7700;
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
	color: #fff;
    display: inline-block;
    position: relative;
	-moz-transform: perspective(1px) translateZ(0px);
	-webkit-transform: perspective(1px) translateZ(0px);
	-o-transform: perspective(1px) translateZ(0px);
	-ms-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	-webkit-transition-property: color;
    transition-property: color;
    vertical-align: middle;
}
.btn-shutter-out-horizontal::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -o-transform:scaleX(0);
    -ms-transform:scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
    z-index: -1;
}
.btn-shutter-out-horizontal:hover, .btn-shutter-out-horizontal:focus, .btn-shutter-out-horizontal:active {
    color: #000;
}
.btn-shutter-out-horizontal:hover::before, .btn-shutter-out-horizontal:focus::before, .btn-shutter-out-horizontal:active::before {
    -moz-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.btn-transparent {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.btn.btn-shutter-out-horizontal.disabled {
    opacity: 1;
}

/*
|----------------------------------------------------------------------------
	24. SUBSCRIBE / #mc-form
|----------------------------------------------------------------------------
*/
.mc-form-holder {
    margin: 0 0 10px;
    max-width: 360px;
	position: relative;
}
#mc-form .form-control {
    background-color: transparent;
    border: 1px solid #ff7700;    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    color: #fff;	
    display: inline;
    height: 34px;
    padding: 3px 10px 5px;
    vertical-align: top;
	width: 79%;
}
#mc-form .form-control:focus {
    box-shadow: 0 1px 1px rgba(4, 185, 98, 0.075) inset, 0 0 8px rgba(4, 185, 98, 0.6);
    outline: 0 none;
}
#mc-form .btn {
    background-color: #ff7700;
    border: medium none;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    color: #fff;
    display: inline;
    font-family: fontawesome;
    font-size: 18px;
    height: 34px;
    margin: 0 0 0 -6px;
	padding: 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 20%;
}
#mc-form .btn:hover {
    background-color: rgba(4, 185, 98, 0.8);
}
#mc-form label {
	color: #fff;
    font-size: 16px;
    font-weight: normal;
	line-height: 1.2;
    left: 0;
    position: absolute;
    top: 40px;
}
#mc-form .error {
    color: #e91313;
}
#mc-form .valid {
    color: #37a000;
}

/*
|----------------------------------------------------------------------------
	25. FOOTER / .footer
|----------------------------------------------------------------------------
*/
.footer {
    background-color: #232323;
}
.footer-top {
    background: none;
	padding: 90px 0 60px;
}
.footer-top .columnbottom-margin {
    margin-bottom: 50px;
}
.footer a, .footer p, .footer li  {
    color: #fff;
	font-size: 16px;
	line-height: 1.5;
}
.footer .post-meta a  {
	font-size: 15px;
}
.footer p {
    margin: 0 0 20px;
}
.footer h4.widget-title {
    border-bottom: 1px solid #fff;
    color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0;
	padding-bottom: 5px;
    position: relative;
	text-transform: capitalize;
}
.footer h4.widget-title::before {
    background-color: #ff7700;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 0 -1px;
    position: absolute;
    width: 40px;
}
.footer h4.widget-title span {
	color: #ff7700;
}
.footer .recent-post li {
    margin: 0 0 20px;
    position: relative;
	text-decoration: none;
}
.footer .recent-post li:last-child {
    margin: 0;
}
.footer .post-thumbnail {
	margin-top: 5px;
}
.footer .post-content h3, .footer h3 a {
    line-height: 1.3;
    margin: 0 0 10px;
}
.footer ul li a:hover, .footer ul.list-unstyled li a:hover  {
	color: #ff7700;
	text-decoration: none;
}
#footer .list-inline.list-social {
    margin: 0 0 10px;
}
#footer .list-inline.list-social a.social-icon {
    border: none;
    color: #fff;
}
#footer .list-inline.list-social a.social-icon:hover {
    border: none;
}
#footer .contact-info.list-unstyled > li {
    line-height: 1.3;
    padding: 0 0 10px;
}
#footer .contact-info.list-unstyled > li i {
    margin: 0 15px 0 0;
}
/*Footer Copyright*/
.footer hr {
    border-color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
}
.footer-logo {
    float: left;
    height: 16px;
    margin: 5px 20px 0 0;
    width: auto;
}
.footer .copyright {
    font-size: 14px;
	padding-left: 60px;
}
.footer .copyright a.footer-site-link {
    font-size: 14px;
}
a.footer-site-link {
    color: #fff;
}

.scrollup {
    bottom: 40px;
	color: #ff7700;
    display: none;
    font-size: 42px;
    height: 40px;
    position: fixed;
    right: 22px;
    text-align: center;
    width: 40px;
	z-index: 999;
}

/*
|----------------------------------------------------------------------------
	26. OTHER
|----------------------------------------------------------------------------
*/
blockquote {
	color: #222;
    border-color: #ff7700;
	margin: 0 0 30px;
}
.SecTopMargin30 {
    margin-top: 30px;
}
.SecTopMargin10 {
    margin-top: 10px;
}
.TopMargin0 {
    margin-top: 0;
}
.TopMargin30 {
    margin-top: 30px;
}
.bottomMargin0 {
    margin-bottom: 0;
}
